target/*
/angular/clientes-app/node_modules
/.attach*
/.classpath
/.project
/.settings/org.eclipse.core.resources.prefs

/src/main/resources/static/
/uploads/*
/node_modules/*
# Project specific excludes
#

tomcat

#
# Default excludes


# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
