.modal-backdrop {
    height: 0;
   
}
.card{
    border: 1px solid #007bff;
}
.card-title{
    color: #007bff;
}
   @media (max-width:576px) {
    th{
        max-width: 20x;
        font-size: 6px;
        max-height: 2s0px;
        
        padding: 1px;
    }td{

        font-weight: bold;
        max-height: 20px;
        font-size: 4px;
        max-width: 20px;
        padding: 1px;
        line-height: 80%;
    }button{
        font-size: 7px;
    }
    img{
        width: 20px;
        height: 20px;
    }
      
    }
    @media (min-width: 576px) { 
        th{
            max-width: 35px;
            font-size: 7px;
        }td{
            font-size: 6px;
            max-width: 35px;
        }button{
            font-size: 7px;
        }
    }


@media (min-width: 768px) { th{
    max-width: 45px;
    font-size: 9px;
}td{
    font-size: 8px;
    max-width: 45px;
}button{
    font-size: 9px;
} }


@media (min-width: 992px) {  }


@media (min-width: 1200px) { }