<div class="card">
    <div class="card-header">
       <p *ngIf="!cliente.id else elseBlock1">{{titulo}}</p>
       <ng-template #elseBlock1><p>Editar cliente</p></ng-template>
    </div>
    <div class="card-body" >
      <form class="form bg-dark text-white  py-2 px-2" #clienteForm="ngForm">
        <div class="form-group row">
            <label for="my-input" class="col-form-label col-sm-2">Nombre</label>
            <div class="col-sm-6">
                <input id="Nombre" class="form-control" type="text" name="nombre" [(ngModel)]="cliente.nombre" required minlength="4" #nombre="ngModel">
                <div  class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                    <ul *ngIf="nombre.errors.required || nombre.errors.minlength">
                        <li *ngIf="nombre.errors.required">El campo es requerido</li>
                        <li *ngIf="nombre.errors.minlength">Debe tener al menos 4 caracteres</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="my-input" class="col-form-label col-sm-2">Apellido</label>
            <div class="col-sm-6">
                <input id="apellido" class="form-control" type="text" name="apellido" [(ngModel)]="cliente.apellido" required minlength="3" #apellido="ngModel">
                <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                    <ul *ngIf="apellido.errors.required || apellido.errors.minlength">
                        <li *ngIf="apellido.errors.required">El campo es requerido</li>
                        <li *ngIf="apellido.errors.minlength">Debe tener al menos 3 caracteres</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="my-input" class="col-form-label col-sm-2">Email</label>
            <div class="col-sm-6">
                <input id="email" class="form-control" type="email" name="email" [(ngModel)]="cliente.email" required email #email="ngModel">
                <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <ul *ngIf="email.errors.required || email.errors.email">
                        <li *ngIf="email.errors.required">El campo es requerido</li>
                        <li *ngIf="email.errors.email">tiene que tener un formato tipo email</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="my-input" class="col-form-label col-sm-2">Fecha</label>
            <div class="col-sm-6">
                    <input matInput [matDatepicker]="miDatePicker" class="form-control" name="fecha" [(ngModel)]="cliente.createAt" required #fecha="ngModel" style="display: inline; width: 90%;">
                    <mat-datepicker-toggle matSuffix [for]="miDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #miDatePicker></mat-datepicker>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <button class="btn btn-primary" role="button" type="submit" (click) ='crear()' *ngIf="!cliente.id ;else elseBlock" [disabled] ="!clienteForm.form.valid"> crear</button>
                <ng-template #elseBlock>
                    <button class="btn btn-primary" role="button" type="submit" (click) ='modificarCliente()' [disabled] ="!clienteForm.form.valid"> editar</button>
                </ng-template>
            </div>
        </div>
      </form>
    </div>
</div>
