<div *ngIf="modalService?.modal"   class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" 
data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
        <button type="button" (click)="cerrarModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color:#007bff ;">
        <div class="container">
          <div class="row">
            <div class="col-sm-8" >
              <ul class="list-group text-dark">
                <li class="list-group-item">cliente: {{cliente.id}}</li>
                <li class="list-group-item">{{cliente.nombre}}</li>
                <li class="list-group-item">{{cliente.apellido}}</li>
                <li class="list-group-item">{{cliente.email}}</li>
                <li class="list-group-item" style="margin-bottom: 2%;">{{cliente.createAt | date: 'fullDate'}}</li>
                <li><div class="input-group" style=" margin-bottom : 2%">
                  <div class="custom-file">
                    <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                    <h4><label class="custom-file-label" for="inputGroupFile04">subir foto</label></h4>
                  </div>
                  <div class="input-group-append">
                    <button (click) = "subirFoto()" [disabled]="!archivo" class="btn btn-success" type="button" id="inputGroupFileAddon04">subir foto</button>
                  </div>
                </div></li>
                <li><div class="progress" *ngIf="progres >0">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar"  [ngStyle]="{width:progres+'%'}" attr.aria-valuenow="{{progres}}" aria-valuemin="0" aria-valuemax="100">{{progres}} %</div>
                </div></li>
              </ul>
            </div>
            <div class="col-sm-4" >
              <img class="img-thumbnail" *ngIf="cliente?.foto"src="http://localhost:8080/uploads/img/{{cliente.foto}}" alt="fotoCliente"  >
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
